@model JIC.Crime.View.Models.UserCreateViewModel
@if (ViewData["SessionEnded"] != null && (bool)ViewData["SessionEnded"])
{
    <script>
        debugger;
        window.location.href = "/User/Login?returnUrl=/";
    </script>
}

@{ 
    string DivID = "Userdiv_" + (Model.UserData.ID.HasValue ? "Edit" : "Create");
}
<div id="@DivID">
    @MyHelpers.ShowMessage(ViewBag.Messages)

    @if (ViewBag.OperationSuccess != null && ((bool)ViewBag.OperationSuccess) == true)
    {
        @Html.SuccessMessage(JIC.Base.Resources.Messages.OperationCompletedSuccessfully);
        <script>
            $(document).trigger("User:SaveSuccefull");
        </script>
    }


    @using (Ajax.BeginForm((Model.UserData.ID.HasValue ? "Edit" : "Create"), new AjaxOptions { HttpMethod = "POST", UpdateTargetId = DivID, OnSuccess = DivID + "ddlUserTypeChange()", InsertionMode = InsertionMode.Replace }, null, new { id = "ADDform" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        Html.RenderPartial("Person/_ViewPerson", Model.PersonData);

        @Html.HiddenFor(model => model.UserData.ID)
        <div class="panel panel-primary">
            <div class="panel-heading">
                بيانات المستخدم
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        @Html.CTextBoxFor(model => model.UserData.UserName)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        @Html.CDropDownFor(model => model.UserData.UserType, new SelectList(Model.UserTypes, "ID", "Name"), new { onchange = DivID + "ddlUserTypeChange()" }, true)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        @Html.CDropDownFor(model => model.UserData.CourtID, new SelectList(Model.Courts, "ID", "Name"), true)
                    </div>
                    <div class="col-sm-6">
                        @Html.CDropDownFor(model => model.UserData.UserJudgeLevel, new SelectList(Model.JudgeLevels, "ID", "Name"), true)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6" id="Prosecution_div">
                        @using (Html.CUpdatePanel(Url.Action("GetProsecution", "User", new { Prefix = ViewData.TemplateInfo.HtmlFieldPrefix }), DivID + "Prosecution_update_panel"))
                        {
                            @Html.CDropDownFor(model => model.UserData.ProsecutionID, new SelectList(Model.Prosecutions, "ID", "Name"), true)
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        @Html.CTextBoxFor(model => model.UserData.PhoneNo)
                    </div>
                </div>
            </div>
        </div>



        <input name="submit" type="submit" value="حفظ و إضافة مستخدم جديد" class="btn btn-primary" onclick="showRequire();" />
        <input name="submit" type="submit" value=" حفظ و غلق" class="btn btn-primary" />
        <input type="button" value="إلغاء" class="btn" onclick="OnClose()" />
    }
</div>

<script>
    function showRequire() {
        debugger;
        if($("#@Html.IdFor(m=>m.UserData.CourtID)").val()=="")
        $("#UserData_CourtID_div > div").after('<span class="required">هذا الحقل مطلوب</span>');

        if ($("#@Html.IdFor(m=>m.UserData.UserJudgeLevel)").val() == "")
        $("#UserData_UserJudgeLevel_div > div").after('<span class="required">هذا الحقل مطلوب</span>');

        if ($("#@Html.IdFor(m=>m.UserData.ProsecutionID)").val() == "")
        $("#UserData_ProsecutionID_div > div").after('<span class="required">هذا الحقل مطلوب</span>');
  }

    function OnClose() {
        debugger;
        $(document).trigger('User:CloseAddEditForm');
    }

    OnDocReady(function () {
        $("#ADDform > div:nth-child(2) > div.panel-body > div.row > div > div > span.required").remove();
        $("#Person_Detail_UpdatePanel > div:nth-child(5) > div.col-sm-6 > div > span.required").remove();

        
        $("#@DivID").trigger("User:HideCourt");
        $("#@DivID").trigger("User:HidePros");
        $("#@DivID").trigger("User:HideJudge");
        $("#UserData_CourtID_div > label").after('<span class="required">*</span>');
        $("#UserData_UserJudgeLevel_div > label").after('<span class="required">*</span>');
        $("#UserData_ProsecutionID_div > label").after('<span class="required">*</span>');
    });
    function @(DivID)ddlUserTypeChange() {
        $("#@DivID").trigger("User:HideCourt");
        $("#@DivID").trigger("User:HidePros");
        $("#@DivID").trigger("User:HideJudge");
                     function RemoveRequired(selector) {
                         $(selector).rules("remove", "required");
                         $(selector).removeAttr("data-val");
                         $(selector).removeAttr("data-val-required");
                        }

              function AddRequiredValidation(selector)
              {
                    $(selector).attr("data-val", "true");
                    $(selector).attr("data-val-required", "@JIC.Base.Resources.Resources.RequiredErrorMessage");
              }

        switch (parseInt($("#@DivID #@Html.IdFor(m=>m.UserData.UserType)").val())) {
            case @((int) JIC.Base.SystemUserTypes.ElementaryCourtAdministrator):
            case @((int) JIC.Base.SystemUserTypes.InitialCourtAdministrator):
            case @((int) JIC.Base.SystemUserTypes.InquiriesEmployee):
            case @((int) JIC.Base.SystemUserTypes.Secretary):
            case @((int) JIC.Base.SystemUserTypes.CriminalDepManager):
                $("#@DivID").trigger("User:CourtUserSelected");
                AddRequiredValidation("#@Html.IdFor(m=>m.UserData.CourtID)");
                RemoveRequired("#@Html.IdFor(m=>m.UserData.ProsecutionID)");
                RemoveRequired("#@Html.IdFor(m=>m.UserData.UserJudgeLevel)");
             //   $("#UserData_CourtID_div > label").after('<span class="required">*</span>');
             //   $("#UserData_CourtID_div > div").after('<span class="required">هذا الحقل مطلوب</span>');

                break;
            case @((int) JIC.Base.SystemUserTypes.Judge):
            case @((int) JIC.Base.SystemUserTypes.CourtHead):
                $("#@DivID").trigger("User:JudgeUserSelected");
                AddRequiredValidation("#@Html.IdFor(m=>m.UserData.CourtID)");
                AddRequiredValidation("#@Html.IdFor(m=>m.UserData.UserJudgeLevel)");
                RemoveRequired("#@Html.IdFor(m=>m.UserData.ProsecutionID)");
            //    $("#UserData_CourtID_div > label").after('<span class="required">*</span>');
            //    $("#UserData_CourtID_div > div").after('<span class="required">هذا الحقل مطلوب</span>');
            //    $("#UserData_UserJudgeLevel_div > label").after('<span class="required">*</span>');
             //   $("#UserData_UserJudgeLevel_div > div").after('<span class="required">هذا الحقل مطلوب</span>');

                break;
            case @((int) JIC.Base.SystemUserTypes.ImplementationEmployee):
            case @((int) JIC.Base.SystemUserTypes.schedualEmployee):
                $("#@DivID").trigger("User:ProsUserSelected");
                AddRequiredValidation("#@Html.IdFor(m=>m.UserData.CourtID)");
                AddRequiredValidation("#@Html.IdFor(m=>m.UserData.ProsecutionID)");
                RemoveRequired("#@Html.IdFor(m=>m.UserData.UserJudgeLevel)");
           //     $("#UserData_CourtID_div > label").after('<span class="required">*</span>');
           //     $("#UserData_CourtID_div > div").after('<span class="required">هذا الحقل مطلوب</span>');
            //    $("#UserData_ProsecutionID_div > label").after('<span class="required">*</span>');
            //    $("#UserData_ProsecutionID_div > div").after('<span class="required">هذا الحقل مطلوب</span>');

                break;
            case @((int) JIC.Base.SystemUserTypes.JICAdmin):
                $("#@DivID").trigger("User:HideCourt");
                $("#@DivID").trigger("User:HidePros");
                $("#@DivID").trigger("User:HideJudge");
                RemoveRequired("#@Html.IdFor(m=>m.UserData.CourtID)");
                RemoveRequired("#@Html.IdFor(m=>m.UserData.UserJudgeLevel)");
                RemoveRequired("#@Html.IdFor(m=>m.UserData.ProsecutionID)");
                break;
        }
    }
    OnDocReady(function (event) {
        $("#@DivID").on("User:CourtUserSelected", function () {
            $("#@DivID #@Html.IdForDiv(model => model.UserData.CourtID)").show();
            $("#@DivID").trigger("User:HidePros");
            $("#@DivID").trigger("User:HideJudge");
        });
        $("#@DivID").on("User:ProsUserSelected", function () {
            $("#@DivID #Prosecution_div").show();
            $("#@DivID #@Html.IdForDiv(model => model.UserData.CourtID)").show();
            //$(document).trigger("User:HideCourt");
            $("#@DivID").trigger("User:HideJudge");
        });
        $("#@DivID").on("User:JudgeUserSelected", function () {
            $("#@DivID #@Html.IdForDiv(model => model.UserData.UserJudgeLevel)").show();
            $("#@DivID #@Html.IdForDiv(model => model.UserData.CourtID)").show();
            $("#@DivID").trigger("User:HidePros");
        });
        $("#@DivID").on("User:HideCourt", function () {
            $("#@DivID #@Html.IdForDiv(model => model.UserData.CourtID)").hide();
        });
        $("#@DivID").on("User:HidePros", function () {
            $("#@DivID #Prosecution_div").hide();
        });
        $("#@DivID").on("User:HideJudge", function () {
            $("#@DivID #@Html.IdForDiv(model => model.UserData.UserJudgeLevel)").hide();
        });
        $("#@DivID #@(DivID)Prosecution_update_panel").on('update:done', function () {
            @(DivID)ddlUserTypeChange();
        });
        @(DivID)ddlUserTypeChange();

        $("#@DivID #@Html.IdFor(model => model.UserData.CourtID)").on('change', function () {
            $("#@DivID #@(DivID)Prosecution_update_panel").trigger('update', { CourtID: $(this).val() });
        });
    });

</script>