@using JIC.Crime.View.Models
@model RollOrderViewModel

@{
    ViewBag.Title = JIC.Base.Resources.Resources.OrderRoll;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-4">
        <h2>@JIC.Base.Resources.Resources.OrderRoll</h2>
    </div>
    <br />
    @* (string ReportName,string ReportDesc,int? sessionId,int? caseId,int? printUser,int? rollId,int? CourtId)*@
    <div class="col-sm-4">
       @* <a href='@Url.Action("Report", "Print",new {ReportName=JIC.Base.SystemReports.SessionRoll.ToString(),ReportDesc="",sessionId=Model.Roll.RollID,caseId=0,CourtId=Model.Roll.CourtID,rollId=Model.Roll.RollID,printUser=Model.Roll.CurentUserID})'>*@
            <input type='button' id="printroll" value='@JIC.Base.Resources.Resources.PrintRoll' onclick="print()" class="btn btn-default" />
       @* </a>*@
    </div>
</div>
@Html.AntiForgeryToken()


 
@Html.CDropDownFor(m => m.Roll.CircuitID, new SelectList(Model.Circuits, "ID", "Name"), new { onchange = "ddlCircuit_SelectedIndexChanged()" }, true)

@Html.CDropDownFor(m => m.Roll.RollID, new SelectList(Model.GetRollsReadyToOrder, "ID", "Date"), new { onchange = "ddlRollsReadyToOrder_SelectedIndexChanged()" }, true)
@*}*@

@using (Html.CUpdatePanel(Url.Action("CircuitMember"), "CircuitMemberDiv"))
{

}
@using (Html.CUpdatePanel(Url.Action("Create"), "RollOrderDiv"))
{

}
  


@section Scripts {
<script type="text/javascript">
 

    document.getElementById("printroll").disabled = true;

        function ddlRollsReadyToOrder_SelectedIndexChanged() {
            if ($("#@Html.IdFor(m => m.Roll.RollID)").val() == "" || $("#@Html.IdFor(m => m.Roll.CircuitID)").val() == "")
                $("#RollOrderDiv").html('');
            else {
               document.getElementById("printroll").disabled = false;
                $("#RollOrderDiv").trigger('update', { RollID: $("#@Html.IdFor(m => m.Roll.RollID)").val(), CircuitID: $("#@Html.IdFor(m => m.Roll.CircuitID)").val() });

            }
           @*if ($("#@Html.IdFor(m => m.Roll.RollID)").val() && $("#@Html.IdFor(m => m.Roll.CircuitID)").val())
                $("#RollOrderDiv").trigger('update', { RollID: $("#@Html.IdFor(m => m.Roll.RollID)").val(), CircuitID: $("#@Html.IdFor(m => m.Roll.CircuitID)").val() });
            else
                $("#RollOrderDiv").html('');*@
           

        }
        function print() {
            debugger;
            var ReportName = '@JIC.Base.SystemReports.SessionRoll.ToString()';
            var PrintUser = '@Model.Roll.CurentUserID';
            var CourtID = '@Model.Roll.CourtID';


            window.location.href = "/Print/Report?ReportName=" + ReportName + "&RollId=" + $("#@Html.IdFor(m => m.Roll.RollID)").val() + "&PrintUser=" + PrintUser + "&CourtID=" + CourtID;

        };
    function ddlCircuit_SelectedIndexChanged() {
        $("#CircuitMemberDiv").trigger('update', { CircuitID: $("#@Html.IdFor(m => m.Roll.CircuitID)").val() });
     
        document.getElementById("printroll").disabled = true;
      var CircuitID = $("#@Html.IdFor(m=>m.Roll.CircuitID)").val();
            $.ajax(
                {

                    url: '/Roll/RollsReadyToOrder',
                    type: "GET",
                    dataType: "JSON",
                    data: { CircuitID: CircuitID },
                    contentType: 'application/json; charset=utf-8',
                    success: function (Rolls) {
                        $('#Roll_RollID').each(function () {
                            if (this.selectize) {
                                var dllRoll = this.selectize;
                                dllRoll.clearOptions();
                                $.each(Rolls, function (i, Rolls) {
                                    dllRoll.addOption({ value: Rolls.ID, text: Rolls.StDate });
                        });

                            }
                        });
                    }
            });
   }




</script>
}

