@using JIC.Crime.View.Models
@model GetCircuitData

<div id="DeleteDiv">
    @using (Ajax.BeginForm("Delete", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "DeleteDiv" }))
    {
        @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-xs-12">
            تأكيد حذف دائرة : @Model.CircuitName
        </div>
    </div>
        <div class="row">
            <div class="col-sm-3">
                <input type="submit" value="@JIC.Base.Resources.Resources.Delete" id="Delete" class="btn btn-default" name="action:Delete" />
            </div>
            <div class="col-sm-3">
                @*   <input type="submit" value="@JIC.Base.Resources.Resources.Cancel" name="action:CancelDelete" id="Cancel" class="btn btn-default" formaction="CancelDelete" />*@
                <button type="button" class="btn btn-default" data-dismiss="modal">@JIC.Base.Resources.Resources.Cancel</button>
            </div>
        </div>
    }
</div>

