@using JIC.Crime.View.Models
@model WitnessSessionViewModel
@if (ViewData["SessionEnded"] != null && (bool)ViewData["SessionEnded"])
{
    <script>
        debugger;
        window.location.href = "/User/Login?returnUrl=/";
    </script>
}
@{ 
    Layout = null;
}

<style>
    .Text-Area {
        height: 420px;
        width: 650px;
    }
</style>

    <h2>@JIC.Base.Resources.Resources.AddWitnessTestimony</h2>
    @*@using (Ajax.BeginForm("Create", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "Creatediv" }))*@
            @using (Ajax.BeginForm("Create", "AtendanceWitnesses", new AjaxOptions { HttpMethod = "Post" }, new { enctype = "multipart/form-data", id = "fileUpload" }))
            {
               
                <div class="row">
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(e => e.SessionID)
                    @Html.HiddenFor(e => e.WitnessID)
                    @Html.HiddenFor(e => e.CaseID)
                    @Html.HiddenFor(e => e.CircuitID)
                    <div class="col-lg-12">
                        @Html.TextAreaFor(m => m.WitnessTestimony, new { @class = "Text-Area" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">اضافة مرفق الشهادة</div>
                            <div class="panel-body">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                         aria-valuemin="0" aria-valuemax="100" id="uploadProgressBar"></div>
                                </div>
                                <div class="row" style="padding-bottom:10px;">
                                    <div class="col-sm-12">
                                        <div class="text-right">

                                            @*<a href="#" class="btn btn-primary" data-toggle='modal' data-target='#DocumentFolder'>الحافظات</a>*@
                                            @*<a href='#' class='btn btn-primvary modal-link' data-toggle='modal' data-target='#AddAttachment' data-url='@Url.Action("CreateAttachment", new { id = Model.CaseID })'>إضافة مرفق جديد</a>*@
                                            <span class="btn btn-success fileinput-button">
                                                <i class="glyphicon glyphicon-plus"></i>
                                                <span>إضافة مرفق</span>
                                                <!-- The file input field used as target for the file upload widget -->
                                                @*@Html.TextBoxFor(model => model.FileUpload , new { Type = "file" })*@
                                                <input type="file" id="file" name="file" />
                                            </span>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <input type="submit" value="@JIC.Base.Resources.Resources.Save" id="ADD" class="btn btn-default" />
                        </div>
                        <div class="col-sm-4">
                            <input type="reset" value="@JIC.Base.Resources.Resources.Reset" class="btn btn-default" />

                        </div>
                    </div>
                </div>
            }

<script>
        OnDocReady(function () {
            $('#file').fileupload({
            @*dataType: 'json',
            url: '/@Url.Content("Handler/UploadHandler.ashx")',*@
            //add: function (e, data) {
            //    data.formData = { id: fileIndex };
            //    $("#FileId").val(fileIndex);
            //    fileIndex++;
            //    data.submit();
            //    $("#AddAttachment").modal('show');
            //},
            //done: function (e, data) {
            //    var UploadFileData = GetUploadFiles(data.result.id);
            //    UploadFileData['file'] = data.result;
            //    UploadIfReady(data.result.id);
            //}
        }).on('fileuploadprogress', function (e, data) {
            console.log(data._progress);
            var progress = (data._progress.loaded / data._progress.total)*100;
            $("#uploadProgressBar").prop('aria-valuenow', progress);
            $("#uploadProgressBar").width(progress + '%');
        });
       });
       
</script>
