@using JIC.Crime.View.Models
@using JIC.Base.Resources
@model LawyerCreateViewModel
@{
   

    ViewBag.Title = JIC.Base.Resources.Resources.Lawyeradd;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <br>
        <br>
        <div>
            <a href="#" class=" btn btn-primary fa-lg modal-link" style="background-color:white;" data-toggle="modal" data-target="#Create" title="Resources.Lawyeradd" data-url="@Url.Action("Create")"> اضافة محامى </a>
            @*<div class="row">
                @using (Ajax.BeginForm("Index", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "Editdiv" }))
                {
                 
                <div class="row">
                    <div class="col-sm-3">
                        @Html.CTextBoxFor(m => m.LawyerModel.LawyerCardNumber)
                    </div>
                    <div class="col-sm-3">
                        <input type="submit" value="@JIC.Base.Resources.Resources.Search" id="index" class="btn btn-default" />
                    </div>
                </div>


            }
            </div>*@
                    @*  @Html.ActionLink(JIC.Base.Resources.Resources.Lawyeradd, "Create", new { @class = "btn btn-primary", data_toggle = "modal", data_target = "#Create" })*@
                </div>
                <br>
                <br>

                @(Html
                                                                                                       .Grid(Model.Lawyers)
                                                                                                        //.Named("RequestGrid")
                                                                                                        .Build(columns =>
                                                                                                        {
                                                                                                            columns.Add(model => model.LawyerName).Titled(JIC.Base.Resources.Resources.lawyerName);
                                                                                                            columns.Add(model => model.LawyerLevelName).Titled(JIC.Base.Resources.Resources.LawyerLevel);

                                                                                                            columns.Add(model => model.NationalID).Titled(JIC.Base.Resources.Resources.NationalId);

                                                                                                            columns.Add(model => model.LawyerCardNumber).Titled(JIC.Base.Resources.Resources.LawyerCardNumber);
                                                                                                            columns.Add(model => model.DateOfBirth).Titled(JIC.Base.Resources.Resources.DateOfBirth);
                                                                                                            columns.Add(model => model.Address).Titled(JIC.Base.Resources.Resources.Address);

                                                                                                            columns.Add(model =>


                                                                                                        @"<a href=""#"" class=""fa fa-pencil-square-o  fa-lg modal-link"" data-toggle=""modal"" data-target=""#EditModel"" title=""" + Resources.Edit + @"""  data-url=""" + Url.Action("Edit", new { id = model.ID }) + @"""></a>"
                                                                                                            ).Titled(JIC.Base.Resources.Resources.operation).Encoded(false);



                                                                                                        })
                                                                                                        .Filterable()
                                                                                                        .Sortable()
                                                                                                        .Pageable()




                )

                @using (Html.BeginModel("EditModel", JIC.Base.Resources.Resources.LawyerEdit))
                {
                    //Html.RenderAction("Edit");
                }
                @using (Html.BeginModel("Create", JIC.Base.Resources.Resources.Lawyeradd))
                {
                    //Html.RenderAction("Create");

                }


<script>
    @*OnDocReady(function () {
        debugger;
        var LawyerCardNumber = $("#@Html.IdFor(m => m.LawyerModel.LawyerCardNumber)").val();
        if (LawyerCardNumber != "") {
            $('.mvc-grid').mvcgrid({
                reload: true

            });
        }
        $('.mvc-grid').mvcgrid({
            reload: false

        });
        
    });*@
</script>
