@using StackExchange.Profiling;
@using Microsoft.AspNet.Identity;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title -منظومة فرض وانفاذ القانون</title>
    @Styles.Render("~/Content/CourtCss")
    @Styles.Render("~/Content/selectize")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css/jquery.fileupload.css")
    <link href="~/Content/css/styles2.css" rel="stylesheet" />
    <link href="~/Content/css/jic_style.css" rel="stylesheet" />
    <link href="~/Content/css_dp/bootstrap-datepicker.min.css" rel="stylesheet" />
    <script>
        function OnDocReady(callback) {
            if (window.jQuery) {
                callback();
            } else {
                window.addEventListener('load', function () {
                    callback();
                });
            }
        }
        Date.prototype.addDays = function (days) {
            var date = new Date(this.valueOf());
            date.setDate(date.getDate() + days);
            return date;
        }

    </script>
</head>
<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand " style="text-indent: 0px;">

                    <img src="~/Content/img/logooo.png" style="width: 100%;height:240px; " />

                </li>

                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <div class="tools">
                            <div>
                                <span class="label label-default" Style="color: #b2cee6;">اسم المستخدم / @User.Identity.Name </span>

                            </div>


                        </div>
                    </li>
                }


            </ul>

            <div id="main-menu" class="list-group sidebar-nav">
             
             @if (User.IsInRole(JIC.Base.SystemUserTypes.Secretary.ToString()) || User.IsInRole(JIC.Base.SystemUserTypes.JICAdmin.ToString())
                     || User.IsInRole(JIC.Base.SystemUserTypes.CriminalDepManager.ToString()) || User.IsInRole(JIC.Base.SystemUserTypes.ElementaryCourtAdministrator.ToString()))
                 {
                <a class="list-group-item menu" id="asettings" runat="server" data-toggle="collapse" visible="False" data-parent="#main-menu" style="color: white" href="#sub-menu">الإعدادات <span class="caret"></span></a>

                <div class="collapse  list-group-level1" id="sub-menu">

                    @*<a href="/Cases/SessionSearch" id="aSessionSearch" class="list-group-item" data-parent="#sub-menu" runat="server" visible="false">البحث عن جلسة</a>*@

                    @if (User.IsInRole(JIC.Base.SystemUserTypes.JICAdmin.ToString()))
                    {
                        <a href="/User/Index" id="ausers" class="list-group-item" data-parent="#sub-menu" runat="server" visible="false">المستخدمين</a>
                        <a href="/Lawyer/Index" id="ausers" class="list-group-item" data-parent="#sub-menu" runat="server" visible="false">المحامين</a>
                    }
                    @if (User.IsInRole(JIC.Base.SystemUserTypes.DataEntry.ToString()))
                    {
                       
                        <a href="/Lawyer/Index" id="ausers" class="list-group-item" data-parent="#sub-menu" runat="server" visible="false">المحامين</a>
                    }
                    @*<a href="/Security/CurrentUsers" class="list-group-item" data-parent="#sub-menu" id="aCurrentUsers" runat="server" visible="false">المستخدمين الحاليين للنظام</a>*@

                    @if (User.IsInRole(JIC.Base.SystemUserTypes.Secretary.ToString()))
                    {
                        <a href="/TextPredections/Index" class="list-group-item" data-parent="#sub-menu" id="aTextPredections" runat="server" visible="false">الجمل الشهيرة</a>

                    }
                    @if (User.IsInRole(JIC.Base.SystemUserTypes.CriminalDepManager.ToString()) || User.IsInRole(JIC.Base.SystemUserTypes.ElementaryCourtAdministrator.ToString()))
                    {
                        <a href="/Prosecutor/Index" id="aProsecuters" class="list-group-item" data-parent="#sub-menu" runat="server" visible="false">وكلاء النيابة</a>
                    }
                    @*@if (User.IsInRole(JIC.Base.SystemUserTypes.ElementaryCourtAdministrator.ToString()  ) || User.IsInRole(JIC.Base.SystemUserTypes.CourtHead.ToString()) || User.IsInRole(JIC.Base.SystemUserTypes.InitialCourtAdministrator.ToString()) || User.IsInRole(JIC.Base.SystemUserTypes.ElementaryCourtAdministrator.ToString()) || User.IsInRole(JIC.Base.SystemUserTypes.CriminalDepManager.ToString()) || User.IsInRole(JIC.Base.SystemUserTypes.ImplementationEmployee.ToString()) || User.IsInRole(JIC.Base.SystemUserTypes.InquiriesEmployee.ToString()) || User.IsInRole(JIC.Base.SystemUserTypes.JICAdmin.ToString()) || User.IsInRole(JIC.Base.SystemUserTypes.Judge.ToString())*@
                    @if (User.IsInRole(JIC.Base.SystemUserTypes.ElementaryCourtAdministrator.ToString()))
                    {
                        <a href="/WorkingDays/Create" id="aVacations" visible="false" class="list-group-item" data-parent="#sub-menu" runat="server">إعداد الأدوار و العطلات</a>
                    }
                    @*<a href="/Configrations/EditNormalPerson" id="aEditNormalPerson" visible="false" class="list-group-item" data-parent="#sub-menu" runat="server">تعديل بيانات شخص طبيعى</a>
        <a href="/Configrations/EditLegalPerson" id="aEditLegalPerson" visible="false" class="list-group-item" data-parent="#sub-menu" runat="server">تعديل بيانات شخص اعتبارى</a>*@
                </div>



             }






                <a class="list-group-item menu" runat="server" data-parent="#main-menu" id="aCase" data-toggle="collapse" Visible="False" href="#sub-menu2">قضايا <span class="caret"></span></a>
                <div class="collapse list-group-level1" id="sub-menu2">
@if (!User.IsInRole(JIC.Base.SystemUserTypes.JICAdmin.ToString()))
{
                    <a href="/SearchCase/Search" id="acasesearch" class="list-group-item" data-parent="#sub-menu" runat="server" visible="false">البحث عن قضية</a>
}
                    @if (User.IsInRole(JIC.Base.SystemUserTypes.ElementaryCourtAdministrator.ToString()) || (User.IsInRole(JIC.Base.SystemUserTypes.schedualEmployee.ToString())))
                    {
                        <a href="/Case/Create" id="aaddcase" class="list-group-item" data-parent="#sub-menu" runat="server" visible="false">اضافة قضية</a>

                        <a href="/NotCompleteCases" id="NotCompleteCases" class="list-group-item" data-parent="#sub-menu" runat="server" visible="false">القضايا الغير مكتملة</a>
                    }

                    @*<a href="/SearchCase/Search" id="acasesearch" class="list-group-item" data-parent="#sub-menu" runat="server" visible="false">البحث عن قضية</a>
                        <a href="/Cases/UrgeCaseFromSuspend" id="aUrge" class="list-group-item" data-parent="#sub-menu" runat="server" visible="False">تعجيل قضية من الوقف</a>
                        <a href="/Cases/ObjectionBasicData" id="aObjection" class="list-group-item" data-parent="#sub-menu" runat="server" visible="false">المعارضات</a>
                        <a href="/Cases/ElementaryCase" id="aElementaryCase" class="list-group-item" data-parent="#sub-menu" runat="server" visible="false">الأستئناف</a>
                        <a href="/Cases/EditCase" id="aEditCase" runat="server" class="list-group-item" data-parent="#sub-menu" visible="false">تعديل بيانات قضية</a>
                        <a href="/Cases/EditObjection" id="aEditObjection" class="list-group-item" data-parent="#sub-menu" runat="server" visible="false">تعديل بيانات معارضة</a>
                        <a href="/Cases/EditElementaryCase" id="aEditElementaryCase" class="list-group-item" data-parent="#sub-menu" runat="server" visible="false">تعديل بيانات قضية مستانفه</a>*@

                </div>
                
                @if (User.IsInRole(JIC.Base.SystemUserTypes.Secretary.ToString()) || User.IsInRole(JIC.Base.SystemUserTypes.ElementaryCourtAdministrator.ToString()))
                {
                  
                

                <a class="list-group-item menu" id="aroll" runat="server" data-toggle="collapse" data-parent="#main-menu" Visible="False" href="#sub-menu3">رول الجلسة <span class="caret"></span></a>

                <div class="collapse list-group-level1" id="sub-menu3">

                 
                        <a href="/Roll/Index" id="arollorder" class="list-group-item" data-parent="#sub-menu" runat="server" visible="false">ترتيب الرول</a>
                        <a href="/OpenRoll/Index" id="aopensession" class="list-group-item" data-parent="#sub-menu" runat="server" visible="false">فتح رول الجلسة</a>
                    <a href="/AllOpenRolls" id="AllOpenRolls" class="list-group-item" data-parent="#sub-menu" runat="server" visible="false">استكمال قضايا الرول</a>
                    @*<a href="/CourtConfigrations/SessionRollReview" id="aRollReview" class="list-group-item" data-parent="#sub-menu" runat="server" visible="false">استعراض قضايا الرول</a>*@
                    @*<a href="/CourtConfigrations/RollApprove" id="arollapprove" class="list-group-item" data-parent="#sub-menu" runat="server" visible="false">التصديق على رول الجلسة</a>*@
                    @*<a href="/Print/SessionRoll" id="aSessionRoll" class="list-group-item" data-parent="#sub-menu" runat="server" visible="false">طباعة رول الجلسة</a>
                    <a href="/Print/JudgRoll" id="aJudgRoll" class="list-group-item" data-parent="#sub-menu" runat="server" visible="false">طباعة رول القاضي</a>
                    <a href="/Print/CaseSessionReportsReview" id="aCaseSessionReportsReview" class="list-group-item" data-parent="#sub-menu" runat="server" visible="false">طباعة محضر الجلسة</a>*@
                 
                </div>
}
@if (User.IsInRole(JIC.Base.SystemUserTypes.ElementaryCourtAdministrator.ToString()))
{
    <a href="/CircuitConfiguration/Index" class="list-group-item" data-parent="#sub-menu" id="acircuitformat" runat="server" visible="false">تشكيل الدوائر</a>
                <a href="/CaseConfuguration/Index" id="aSentanceOnDefendants" class="list-group-item " runat="server" visible="false">تحديد الدوائر و الجلسات</a>
}

@if (User.IsInRole(JIC.Base.SystemUserTypes.Judge.ToString()))
{
    <a href="/ApproveByJudge/Index" class="list-group-item" data-parent="#sub-menu" id="aapprove" runat="server" visible="false"> التصديق على الحكم</a>
   }

                @*<a class="list-group-item menu" runat="server" data-toggle="collapse" data-parent="#main-menu" id="amove" visible="False" href="#sub-menu4">إحالة <span class="caret"></span></a>
                <div class="collapse list-group-level1" id="sub-menu4">

                    <a href="/Cases/AdministrativePostpound" id="aTransfer" class="list-group-item" data-parent="#sub-menu" runat="server" visible="false">نقل ادارى للقضايا</a>
                    <a href="/Cases/AdministrativePostApproval" id="aTranserApproval" class="list-group-item" data-parent="#sub-menu" runat="server" visible="false">التصديق على النقل الأدارى</a>
                    <a href="/CourtConfigrations/MoveCases" id="aMoveCases" class="list-group-item" data-parent="#sub-menu" runat="server" visible="false">نقل قضايا الى دائرة</a>

                </div>*@



                @*<a href="/Cases/JudgmentOnDefendant" id="aSentanceOnDefendants" class="list-group-item " runat="server" visible="false">تسديد الأحكام</a>
                <a href="/Cases/ExpertPayment" id="aExpertPayment" runat="server" class="list-group-item " visible="false">سداد امانة الخبير</a>*@

            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">


                    <a href="#menu-toggle" class="navbar-toggle active" id="menu-toggle">

                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>


                    <div class="date-time" style="text-align:center;padding-top: 10px;">
                        <CustomControls:CLabel runat="server" ID="lblDate" Style="color: #b2cee6;"></CustomControls:CLabel>
                        <span class="clock" style="color: #b2cee6;"></span>

                        @if (User.IsInRole(JIC.Base.SystemUserTypes.Secretary.ToString())|| User.IsInRole(JIC.Base.SystemUserTypes.ElementaryCourtAdministrator.ToString()))
                {


    <a href="/AllOpenRolls" id="AllOpenRolls" class="list-group-item" data-parent="#sub-menu" runat="server" visible="false" style="  display: inline;  border-radius: 5px;">
        استكمال قضايا الرول
    </a>

                            }

                            @if (User.IsInRole(JIC.Base.SystemUserTypes.ElementaryCourtAdministrator.ToString()) || (User.IsInRole(JIC.Base.SystemUserTypes.schedualEmployee.ToString())))
    {
                    <a href="/NotCompleteCases" id="NotCompleteCases" class="list-group-item" data-parent="#sub-menu" runat="server" visible="false" style="  display: inline; box-shadow: none; padding: 5px; margin-right: 15px; border-radius: 5px;">القضايا الغير مكتملة</a>


                        }
                        <div style="float:left;display:inline;color:#000;">

                            @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "User", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                    @Html.AntiForgeryToken()
                    <a href="/User/ChangePassword" style="/*color: #e2d393;*/ color:#b2cee6; display: inline; box-shadow: none; padding: 5px; margin-right: 15px; border-radius: 5px;">تغير كلمة المرور</a>
                    <span style="/*color:#e2d393;*/color:#b2cee6;">|</span>
                    <a href="javascript:document.getElementById('logoutForm').submit()" Style="/*color: #e2d393;*/ color:#b2cee6; display: inline; box-shadow: none; padding-right: 0px; padding: 5px; border-radius: 5px;">تسجيل خروج </a>
}
}
else
{
                    @Html.ActionLink("Log in", "Login", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })
}
                        </div>
                    </div>
                    <ul class="nav navbar-nav" style="display: -webkit-inline-box; margin-bottom: 0;">

                        <li class="dropdown">

                            <ul class="dropdown-menu"></ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="content">
                <div class="container-fluid card">

                    <div class="col-sm-12">
                        @*@Scripts.Render("~/bundles/jquery")*@
                        @MyHelpers.ShowMessage(ViewBag.Messages)
                        @RenderBody()

                    </div>

                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">

                <p class="copyright" style="text-align: center;">
                    جميع الحقوق محفوظة لمركز المعلومات القضائي
                </p>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/customJs")
    @Scripts.Render("~/bundles/modernizr")


    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript">
        $.validator.setDefaults({
            ignore: []
        });
    </script>
    @Scripts.Render("~/bundles/selectize")
    @Scripts.Render("~/bundles/Sortable")
    @Scripts.Render("~/bundles/textcomplete")

    @Scripts.Render("~/Scripts/moment-with-locales.min.js")
    @Scripts.Render("~/Scripts/js_dp/bootstrap-datepicker.js")
    @Scripts.Render("~/Scripts/js/vendor/jquery.ui.widget.js")
    @Scripts.Render("~/Scripts/js/jquery.iframe-transport.js")
    @Scripts.Render("~/Scripts/js/jquery.fileupload.js")




    @RenderSection("scripts", required: false)
    @MiniProfiler.RenderIncludes()
    <style>
        .datepicker.datepicker-rtl {
            left: auto;
        }

        .requiredDate:after {
            content: " * ";
            font-family: initial;
            color: red;
        }
    </style>
    <script>
        $.ajaxSetup({
            traditional: true
        });
        $(document).on('click', ".modal-link", function () {
            var modelId = $(this).data('target');
            $(modelId).find('.modal-body').html('<div class="row text-center"><img src="@Url.Content("/Content/img/loading.gif")" alt="Loading" /></div>')
            $(modelId).find('.modal-body').load($(this).data('url'));
        });
        $(document).on('SuccessMessage', function (event, message) {
            $.notify({
                // options
                message: message
            }, {
                    // settings
                    type: 'success',
                    z_index: 2000,
                    animate: {
                        enter: 'animated fadeInRight',
                        exit: 'animated fadeOutRight'
                    }
                });
        });
        $(document).on('ErrorMessage', function (event, message) {
            $.notify({
                // options
                message: message
            }, {
                    // settings
                    type: 'danger',
                    z_index: 2000,
                    animate: {
                        enter: 'animated fadeInRight',
                        exit: 'animated fadeOutRight'
                    }
                });
        });
        $(function () {
            $.validator.methods.date = function (value, element) {
                return this.optional(element) || moment(value, "DD/MM/YYYY", true).isValid();
            }
            $.fn.mvcgrid.lang = {
                Text: {
                    Contains: 'يحتوى',
                    NotEquals: 'لا يساوى',
                    Equals: 'يساوى',
                    StartsWith: 'يبدا بى',
                    EndsWith: 'ينتهى بى'
                },
                Number: {
                    Equals: 'يساوى',
                    NotEquals: 'لا يساوى',
                    LessThan: 'اقل من',
                    GreaterThan: 'اكبر من',
                    LessThanOrEqual: 'اقل من او يساوى',
                    GreaterThanOrEqual: 'اكبر من او يساوى'
                },
                Date: {
                    Equals: 'يساوى',
                    NotEquals: 'لا يساوى',
                    LessThan: 'اقل من',
                    GreaterThan: 'اكبر من',
                    LessThanOrEqual: 'اقل من او يساوى',
                    GreaterThanOrEqual: 'اكبر من او يساوى'
                },
                Boolean: {
                    Yes: 'صحيح',
                    No: 'خطأ'
                },
                Filter: {
                    Apply: '✔',
                    Remove: '✘'
                },
                Operator: {
                    Select: '',
                    And: 'و',
                    Or: 'أو'
                }
            };
        });

        function local_to_utc(local) {
            return new Date(local.getTime() - (local.getTimezoneOffset() * 60000));
        }
    </script>

    @if (TempData["SuccessMessages"] != null)
    {
        foreach (var message in (string[])TempData["SuccessMessages"])
        {
            @Html.SuccessMessage(message);
        }
    }
    @if (TempData["ErrorMessages"] != null)
    {
        foreach (var message in (string[])TempData["ErrorMessages"])
        {
            @Html.ErrorMessage(message);
        }
    }
    <script>
        $("#wrapper").toggleClass("toggled");
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");

        });
    </script>
    <script>
        $(document).ready(function () {
            $('#main-menu .menu').click(function (e) {
                e.preventDefault();

                $('.collapse').removeClass('in');
            });

        });
    </script>

</body>
</html>
